<section class="home__feature-section">
    <h2 class="home__section-title">O que você pode fazer:</h2>
    <div class="home__feature-cards">
      <div class="home__feature-card">
        <h3 class="home__feature-card-title">Clientes</h3>
        <p class="home__feature-card-description">Gerencie todos os seus clientes de forma rápida e eficiente.</p>
        <a routerLink="/clientes" class="home__btn-secondary">Ver Clientes</a>
      </div>
      <div class="home__feature-card">
        <h3 class="home__feature-card-title">Contas Bancárias</h3>
        <p class="home__feature-card-description">Acesse, edite e administre as contas bancárias facilmente.</p>
        <a routerLink="/contas-bancarias" class="home__btn-secondary">Ver Contas</a>
      </div>
      <div class="home__feature-card">
        <h3 class="home__feature-card-title">Convênios</h3>
        <p class="home__feature-card-description">Consulte e administre os convênios bancários disponíveis.</p>
        <a routerLink="/convenios" class="home__btn-secondary">Ver Convênios</a>
      </div>
    </div>
</section>