<div class="login">
    <div class="login__container">
      <img src="assets/images/centralconsig-logo.png" alt="Logo" class="login__logo" />
  
      <form class="login__form">
        <div class="login__form-group">
          <label for="usuario" class="login__label">Usuário</label>
          <input id="usuario" type="text" class="login__input" />
        </div>
  
        <div class="login__form-group">
          <label for="password" class="login__label">Senha</label>
          <input id="password" type="password" class="login__input" />
        </div>

        <div *ngIf="errorMessage" class="login__error-message">
            {{ errorMessage }}
        </div>
  
        <button type="button" class="login__button" (click)="onLogin()">Entrar</button>
      </form>
    </div>
  </div>
  